<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamjournal.journalofdream">

    <!-- Сеть (нужна для Firebase/Firestore) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Точные будильники (Android 12+) -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <!-- Уведомления (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Перепланирование будильников после перезагрузки -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.JournalOfDream"
        android:allowBackup="false"
        android:fullBackupContent="false">

        <activity android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <!-- Ресивер для напоминания о записи сна -->
        <receiver
            android:name=".ReminderReceiver"
            android:enabled="true"
            android:exported="false" />

        <!-- Ресивер для цитат -->
        <receiver
            android:name=".QuoteReceiver"
            android:enabled="true"
            android:exported="false" />

        <!-- Ресивер для перепланирования после перезагрузки -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
